<form id="rumble-form" class="form-inline" role="form">
  <div class="form-group">
    {{input id="rumble" class="form-control" value=text placeholder="What up?"}}
  </div>
  <button class="btn btn-primary" {{action 'addPost'}}>Rumble</button>
</form>

<ul>
  {{#each post in sortedPosts itemController="post"}}
    <li class ="well">
        <p {{action 'postClicked'}}>{{post.text}}</p>
        {{#if post.clicked}}
        {{post.date}}
          <form class="reply-form form-inline" role="form">
            <div class="form-group">
              {{input class="reply form-control" value=post.reply placeholder="reply"}}
            </div>
            <button class="btn btn-info" {{action 'addReply' post}}>Reply</button>
          </form>

          {{#each reply in post.replies}}
            <li>{{reply}}</li>
          {{/each}}



        {{/if}}

    </li>
  {{/each}}
</ul>

<!-- <ul>
  {{#each}}
  <li class ="well">
    <p {{action 'postClicked'}}>{{text}}</p>
    {{#if clicked}}
    {{date}}
    <form class="reply-form form-inline" role="form">
      <div class="form-group">
        {{input class="reply form-control" value=reply placeholder="reply"}}
      </div>
      <button class="btn btn-info" {{action 'addReply' this}}>Reply</button>
    </form>

    {{/if}}
  </li>
  {{/each}}
</ul> -->
